menu "CDC Badge Features"

    config CDC_FEATURE_CA
        bool "Enable CA features"
        default y

    config CDC_FEATURE_TOTP
        bool "Enable TOTP"
        default y

    config CDC_FEATURE_FIDO2
        bool "Enable FIDO2 (includes SSH via ed25519-sk)"
        default y

endmenu
